body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #FFFFFF;
  width: 1440px;
}

.container {
  margin: 0 auto;
  width: 1170px;
  /* background-color: aquamarine; */
}


/* Start Header and Hero CSS */

.nav-content {
  padding-top: 33px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  width: 85px;
  height: 34px;
}

.navlink ul {
  margin-left: 400px;
  display: flex;
  list-style: none;
  gap: 42px;
}

.navlink a {
  position: relative;
  display: inline-block;
  color: #5F5B53;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navlink a::after {
  content: '';
  position: absolute;
  left: 20%;
  bottom: -4px;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background: #171100;
  border-radius: 1px;
  transition: width 0.3s ease;
}

.navlink a:hover {
  color: #171100;
  font-weight: 600;
}

.navlink a:hover::after {
  width: 12px;
}

.icon {
  width: 16px;
  height: 16px;
}

.nav-button {
  margin-top: -3px;
  width: 144px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 24.5px;
  background: #171100;
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
}

.nav-button:hover {
  background-color: #0056b3;
}


.hero {
  padding-top: 58px;
  padding-bottom: 65px;
}

.hero .container {
  display: flex;
  justify-content: space-between;
  gap: 230px;
}

.hero-left {
  position: relative;
  display: inline-block;
}

.hero-left img {
  width: 470px;
  height: 685px;
  flex-shrink: 0;
  border-radius: 20px;
  z-index: -1;
}

.hero-card {
  position: absolute;
  top: 513px;
  left: 300px;
  transform: translateY(-50%);
  width: 270px;
  height: 244px;
  flex-shrink: 0;
  border-radius: 12px;
  background: #FFFFFF;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
  z-index: 1;
}

.hero-card-img {
  width: 48px !important;
  height: 48px !important;
}

.first-row,
.second-row,
.third-row {
  position: relative;
  display: flex;
  justify-content: flex-start;
  gap: 20px;

}

.first-row img {
  position: absolute;
  top: 30px;
  left: 25px;
}

.first-row p {
  position: absolute;
  top: 12px;
  left: 88px;
  color: #5F5B53;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.first-row h1 {
  position: absolute;
  top: 35px;
  left: 88px;
  color: #171100;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
}

.first-row img {
  position: absolute;
  top: 30px;
  left: 25px;
}

.second-row img {
  position: absolute;
  top: 100px;
  left: 25px;
}

.second-row p {
  position: absolute;
  top: 82px;
  left: 88px;
  color: #5F5B53;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.second-row h1 {
  position: absolute;
  top: 105px;
  left: 88px;
  color: #171100;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
}

.third-row img {
  position: absolute;
  top: 170px;
  left: 25px;
}

.third-row p {
  position: absolute;
  top: 152px;
  left: 88px;
  color: #5F5B53;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.third-row h1 {
  position: absolute;
  top: 175px;
  left: 88px;
  color: #171100;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
}

.hero-right {
  width: 470px;
}

.hero-right-text h1 {
  margin-top: 64px;
  margin-bottom: 0px;
  color: #171100;
  font-family: 'Sen', sans-serif;
  font-size: 58px;
  font-style: normal;
  font-weight: 700;
  line-height: 68px;
  letter-spacing: -1.16px;

}

.hero-right-text p {
  margin-top: 20px;
  color: #5F5B53;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;

}

.hero-right-button {
  display: flex;
  align-items: center;
  gap: 20px;
}

.see-course {
  margin-top: 10px;
  width: 180px;
  height: 64px;
  border-radius: 32px;
  background: #FFB900;
  border: none;
  color: #FFF;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.watch-vedio-button {
  margin-left: -15px;
  margin-top: 18px;
  display: flex;
  align-items: flex-start;
  gap: -15px;
  background: none;
  border: none;
}

.watch-vedio-button p {
  padding-top: 0px;
  color: #171100;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  cursor: pointer;
}

.watch-vedio-button svg {
  padding-top: 5px;
  width: 70px;
  height: 70px;
}

.hero-text-data p {
  margin-top: 35px;
  color: #5F5B53;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.hero-right-data1 h1,
.hero-right-data2 h1 {
  margin-top: -10px;
  color: #171100;
  font-family: 'Sen', sans-serif;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 54px;
}

.hero-right-data1 span,
.hero-right-data2 span {
  color: #5F5B53;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.hero-right-data {
  display: flex;
  gap: 30px;

}
/* End Header and Hero CSS */


/* Start Courses CSS */

.courses-section {
  padding: 200px 0px;
  height: 645px;
}

.courses-top {
  display: flex;
  justify-content: space-between;
}

.courses-heading h1 {
  color: #171100;
  font-family: "Sen", sans-serif;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  /* 126.316% */
  letter-spacing: -0.76px;
  margin-bottom: -10px;
  margin-top: 0px;

}

.courses-heading p {
  color: #5F5B53;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;

}
.courses{
  padding: 192px 0px;
  height: 645px;
}

.courses-heading {
  display: flex;
  justify-content: space-between;
  gap: 608px;
  
}

.courses-heading h1{
  color: #171100;
  font-family: 'Sen', sans-serif;
font-size: 38px;
font-style: normal;
font-weight: 700;
line-height: 48px;
letter-spacing: -0.76px;
}
.courses-heading p{
  padding-top: 7px;
  width: 458px;
  color: #5F5B53;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;

}

.courses-button{
  padding-top: 40px;
}
.courses-button button{
  border: none;
  background: none;
}
.courses-list-card {
  padding-top: 38px;
}

.card-body {
  width: 370px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}

.card-image img {
  width: 100%;
  height: auto;
  display: block;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.card-content {
  padding: 20px;
}

.couses-title-review {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.couses-title-review h1 {
  color: #171100;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.couses-title-review p {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 0;
}

.couses-title-review p span {
  color: #FEA31B;
  font-family: Poppins;
  font-size: 16px;
}

.card-content h2 {
  color: #5F5B53;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin: 10px 0 20px;
}

.couses-price-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.couses-price-button h1 {
  color: #171100;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.couses-price-button button {
  width: 118px;
  height: 50px;
  border: none;
  border-radius: 25px;
  background: #FFB900;
  color: #FFF;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.courses-card-list{
  padding-top: 40px;
  display: flex;
  gap: 30px;
}
.course-card {
  width: 370px;
  height: 466px;
  background: white;
  box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  padding: 0;
}

.course-image {
  width: 370px;
  height: 278px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  display: block;
}

.title-rating {
  display: flex;
  justify-content: space-between;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 15px;
}

.course-title {
  color: #171100;
  font-size: 18px;
  font-family: Poppins;
  font-weight: 600;
  line-height: 30px;
  margin: 0;
}

.course-rating {
  color: #FEA31B;
  font-size: 16px;
  font-family: Poppins;
  font-weight: 400;
  line-height: 28px;
  display: flex;
  align-items: center;
  gap: 7px;
}

.course-description {
  width: 326px;
  color: #5F5B53;
  font-size: 14px;
  font-family: Poppins;
  font-weight: 400;
  line-height: 26px;
   padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  margin: 0;
}

.course-footer {
  display: flex;
  justify-content: space-between;
   padding-left: 22px;
  padding-right: 22px;
  padding-top: 12px;
  align-items: center;
}

.course-price {
  color: #171100;
  font-size: 18px;
  font-family: Poppins;
  font-weight: 600;
  line-height: 30px;
}

.book-button {
  width: 118px;
  height: 50px;
  background: #171100;
  border: none;
  border-radius: 25px;
  color: white;
  font-size: 14px;
  font-family: Poppins;
  font-weight: 600;
  line-height: 26px;
  text-align: center;
  cursor: pointer;
}

.book-button:hover{
  background: #FFB900;
}



/* End Courses CSS */

/* Start Testimonial CSS */
.testimonial {
  background: #2E2100;
  height: 380px;
  margin-top: 10px;
}

.testimonial .container {
  padding: 94px 0px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 15px;
  align-items: center;

}

.client-information {
  width: 160px;
}

.client-information img {
  margin-top: -16px;
  width: 72px;
  height: 72px;
  border-radius: 100%;
}

.client-information h1 {
  margin-top: 12px;
  color: #F7F7F7;
  font-family: 'Sen', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
}

.client-information p {
  margin-top: -15px;
  color: #BFBCB2;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.client-comments svg {
  Width: 30px;
  Height: 28px;

}

.client-comments h1 {
  margin-left: 30px;
  margin-top: -7px;
  color: #FFF;
  font-family: Poppins;
  font-size: 26px;
  font-style: italic;
  font-weight: 400;
  line-height: 40px;

}


/* Start feature CSS */
.feature-section{
  /* // */
}
.feature-section .container{
  padding-top: 200px;
  padding-bottom: 200px;
}

.feature-main-row{
  display: flex;
  gap: 700px;
}

.feature-left{
  position: relative;
  display: flex;
}
.feature-left .feature-image1{
  position: absolute;
  top: 32px;

}

.feature-left .feature-image2{
  position: absolute;
  top: 0px;
  left: 300px;
}
.feature-right{
  margin-top: 23px;
}
.feature-right h1{
  margin-bottom: -0px;
  width: 470px;
  color: #171100;
font-family: 'Sen', sans-serif;
font-size: 38px;
font-style: normal;
font-weight: 700;
line-height: 48px;
letter-spacing: -0.76px;
}
.feature-right h2,p{
  margin-top: 17px;
  width: 458px;
color: #5F5B53;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px;
}

.feature-button button{
  margin-top: 15px;
  width: 137px;
height: 50px;
flex-shrink: 0;
border-radius: 26px;
background: #FFB900;
color: #FFF;
text-align: center;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 28px;
border: none;
}

/* End feature CSS */



/* Start CTA section CSS */
.cta-section {
  padding-top: 63px;
}

.cta-section .container {
  height: 440px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cta-left {
  width: 570px;
  position: relative;

}

.cta-left h1 {
  position: absolute;
  top: -120px;
  color: #171100;
  font-family: 'Sen', sans-serif;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.76px;
}

.cta-left p {
  position: absolute;
  top: 20px;
  width: 570px;
  padding-top: 10px;
  color: #5F5B53;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px;
}

/* End CTA CSS */


/* Start Blog Section CSS */
.blog-section {
  max-width: 1440px;
  width: 100%;
  height: 878px;
  background-color: #FFFCF4;

}

.blog-heading,
.blog-dots-button {
  padding-top: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.blog-heading h1 {
  color: #130606;
  font-family: "Sen", sans-serif;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.76px;
  margin-bottom: -0px;
}

.blog-heading p {
  width: 448px;
  color: #696262;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.blog-card {
  padding-top: 38px;
  display: flex;
  gap: 30px;
  margin-bottom: -26px;
}

.blog-card .card {
  width: 370px;
  Height: 467px;
  border-radius: 16px;
  background: #FFF;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
}

.blog-card .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}

.card-image img {
  width: 370px;
  height: 250px;
}

.card-body {
  padding: 0px 20px;
}

.card-body p {
  color: #5F5B53;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.dots-text {
  display: flex;
  align-items: center;
  gap: 3px;
  margin-bottom: 10px;
}

.card-body .card-divider {
  border-radius: 0.5px;
  background: #E2DFDA;
  width: 160px;
  height: 1px;
}

.card-body h1 {
  color: #171100;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

.card-button button {
  width: 118px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 25px;
  background: #171100;
  border-color: none;
  border: none;
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  transition: all 0.3s ease;
}

.card-button button:hover {
  background: #FFB900;
  border: 1px solid #FFF;
}

/* End Blog Section CSS */

/* Footer CSS Start */
.footer {
  background-color: #2E2100;
  width: 1440px;
  height: 428px;
  position: relative;
}

.footer-logo-section {
  position: absolute;
  top: 95px
}

.footer-logo-section p {
  color: #BFBCB2;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  width: 267px;
}

.divider {
  width: 130px;
  height: 1px;
  background-color: #59554B;
  position: absolute;
  top: 53px;
}

.quick-link {
  position: absolute;
  top: 85px;
  left: 548px;

}

.quick-link h1,
.company-support h1,
.company-address h1 {
  color: #FFF;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

.company-support {
  position: absolute;
  top: 85px;
  left: 806px;

}

.company-support ul,
.quick-link ul,
.company-address ul {
  list-style: none;
  padding: 0;
  margin-top: 40px;
}

.company-support li,
.quick-link li {
  margin-bottom: 13px;
  margin-top: 5px;
}

.company-support a,
.quick-link a {
  text-decoration: none;
  color: #BFBCB2;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  transition: color 0.3s ease;
}

.company-address {
  width: 231px;
  position: absolute;
  top: 85px;
  left: 1075px;

}

.contact-title {
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
}

.company-address p {
  color: #BFBCB2;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.footer-divider {
  width: 1170px;
  height: 1px;
  background-color: #59554B;
  position: absolute;
  top: 345px;
}

.copy-right-text {
  display: flex;
  align-items: center;
  justify-items: center;
  position: absolute;
  top: 361px;
  left: 542px;
}

.copy-right-text p {
  color: #807D74;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

/* End Footer CSS */